
#main-nav ul li.menu-item-has-children:after, #main-nav ul li.mega-menu:after, .top-menu ul li.menu-item-has-children:after{
    display: none;
}

#main-nav ul li.menu-item-has-children a:hover{
    background-color: #f88c00;
}

#main-nav ul li.menu-item-has-children a, #main-nav ul li.mega-menu a {
    padding-right: 10px;
}
